* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px hsl(0, 0%, 43%);
}

div.display-screen h2 {
    font-size:x-large;
    top: 13%;
    left: 16%;
    position: absolute;
    color: black;
}
div.display-screen em {
    
    text-shadow: 2px 2px 4px black;
    text-decoration: underline wavy;

}
.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}


#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

/* light theme */





.calculator.dark {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    

}

.calculator.dark #display {
    color: #0c0c0c;
}

.calculator.dark button#clear {
    background-color: #066124;
    color: #00f819;
}

.calculator.dark button.btn-number {
    background-color: #522f61;
    color: #f8fafb;
}

.calculator.dark button.btn-operator {
    background-color: #79232c;
    color: #26ff00;
}

.calculator.dark button.btn-equal {
    background-color: #057270;
    color: #ffffff;
}